<form method="post" action="/blog/post">
	Title: <input type="text" name="title"><br/>
	Post:<br/><textarea cols="40" rows="5" name="text"></textarea><br/>
	<input type="submit" value="Go">
</form>
<a href="/">Home!</a>